 header {
  border-bottom: thin solid #9E9E9E;
    
  .header-left {
    padding-top: 7px;
  }
 }

 .profile-image-modal {
  background: rgba(26, 23, 23, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  display: none;

  .modal-delete {
    
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 174px;
    left: 857px;
    z-index: 1000;
    &:hover {
      cursor: pointer;
    }
  }

  .profile-image-change {
    background-color: white;
    text-align: center;
    width: 350px;
    border-radius: 10px;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    
    .modal-title {
      font-weight: bold;
    }

    .image-file-modal {
      display: none;
    }
    .profile-modal {
      display: block;
      padding: 10px 0;
      border-top: thin solid #9E9E9E;
      &:hover {
        cursor: pointer;
      }
    }
    .btn-profile {
      width: 100%;
      font-size: 17px;
      background-color: white;
      color: rgb(255, 0, 98);
      padding: 10px 0;
      border: none;
      border-top: thin solid #9E9E9E;
      &:hover {
        cursor: pointer;
      }
    }
    .profile-modal-close {
      border-top: thin solid #9E9E9E;
      padding: 9px 0;
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

  

.profile-top {
  display: flex;
  padding-top: 20px;
  .profile-left {
    width: 40%;

    .profile-image {
      position: relative;
      top: 20px;
      left: 120px;
      
      .user-icon {
        border-radius: 100%;
      }
    }
    .profile-image-wrong {
      position: relative;
      top: 20px;
      left: 120px;
      
      .user-icon {
        border-radius: 100%;
      }
    }
  }

  .profile-right {
    width: 60%;

    .profile-info {
      display: flex;  
      justify-content: center;
      h2 {
        margin-right: 20px;
      }

      .btn-edit-profile a{
        display: block;
        border: 1px solid #9E9E9E;
        font-weight: bold;
        border-radius: 15px;
        padding: 2px 20px;
        margin-top: 25px;
        margin-left: 20px;
        opacity: .6;
      }

      .btn-follow p {
        border: 1px solid #9E9E9E;
        font-weight: bold;
        border-radius: 15px;
        padding: 2px 20px;
        margin-top: 25px;
        margin-left: 20px;
        opacity: .6;

        &:hover {
          cursor: pointer;
        }
      }
      .btn-rm p{
        color: white;
        font-weight: bold;
        background-color: #0095f6;
        border-radius: 15px;
        padding: 2px 20px;
        margin-top: 25px;
        margin-left: 20px;

        &:hover {
          cursor: pointer;
        }
       
      }
    }

    .profile-middle {
      display: flex;
      justify-content: space-around;

      .profile-box {
        .amount {
          text-align: center;
          font-weight: bold;
          height: 15px;
        }
        .info {
          opacity: .5;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .modal-follower {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(26, 23, 23, 0.6);
        z-index: 1000;

        .follower-container {
          position: fixed;
          top: 20%;
          left: 50%;
          transform: translate(-50%);
          width: 400px;
          height: 500px;
          background-color: white;
          border-radius: 20px;

          .follow-title {
            text-align: center;
            font-weight: bold;
          }

          .modal-follower-delete {
            font-size: 25px;
            font-weight: bold;
            position: absolute;
            left: 360px;
            top: -17px;

            &:hover {
              cursor: pointer;
            }
          }

          .follower-list {
            border-top: 1px solid #9E9E9E;
            overflow: scroll;
            height: 415px;

            .follower-info {
              padding: 10px 20px;
              display: flex;

              .follower-image {
                img {
                  border-radius: 100%;
                }
              }
              .follower-account {
                font-weight: bold;
                margin-left: 15px;
                padding-top: 8px;
              }
              .modal-follow-btn {
                margin-left: auto;
                padding-top: 9px;

                p {
                  margin: 0;
                  padding: 3px 8px;
                  border: 1px solid #9E9E9E;
                  font-weight: bold;
                  border-radius: 15px;
                  opacity: .6;
                }

                &:hover {
                  cursor: pointer;
                }
                
              }
              .modal-nofollow-btn {
                margin-left: auto;
                padding-top: 9px;

                p {
                  color: white;
                  background-color: #0095f6;
                  margin: 0;
                  padding: 3px 10px;
                  font-weight: bold;
                  border-radius: 15px;
                }
              }
            }
          }
        }
      }
      .modal-following {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(26, 23, 23, 0.6);
        z-index: 1000;

        .following-container {
          position: fixed;
          top: 20%;
          left: 50%;
          transform: translate(-50%);
          width: 400px;
          height: 500px;
          background-color: white;
          border-radius: 20px;

          .following-title {
            text-align: center;
            font-weight: bold;
          }

          .modal-following-delete {
            font-size: 25px;
            font-weight: bold;
            position: absolute;
            left: 360px;
            top: -17px;

            &:hover {
              cursor: pointer;
            }
          }

          .following-list {
            border-top: 1px solid #9E9E9E;
            overflow: scroll;
            height: 415px;

            .following-info {
              padding: 10px 20px;
              display: flex;

              .following-image {
                img {
                  border-radius: 100%;
                }
              }
              .following-account {
                font-weight: bold;
                margin-left: 15px;
                padding-top: 8px;
              }
              .modal-follow-btn {
                margin-left: auto;
                padding-top: 9px;

                p {
                  margin: 0;
                  padding: 3px 8px;
                  border: 1px solid #9E9E9E;
                  font-weight: bold;
                  border-radius: 15px;
                  opacity: .6;
                }

                &:hover {
                  cursor: pointer;
                }
                
              }
              .modal-nofollow-btn {
                margin-left: auto;
                padding-top: 9px;

                p {
                  color: white;
                  background-color: #0095f6;
                  margin: 0;
                  padding: 3px 10px;
                  font-weight: bold;
                  border-radius: 15px;
                }
              }
            }
          }
        }
      }

    }

    .profile-introduction {
      padding: 10px 95px;
    }
  }
}
.profile-posts {
  border-top: 1px solid #9E9E9E;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .profile-post {
    width: 30%;
    height: 300px;
    margin-top: 20px;
    margin-left: 22px;

    &:hover {
      cursor: pointer;
    }
  }
}

.post-modal {
  background: rgba(26, 23, 23, 0.253);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .modal-delete {
    color: white;
    font-weight: bold;
    font-size: 35px;
    position: fixed;
    left: 1300px;
    &:hover {
      cursor: pointer;
    }
  }
  

  .post-modal-image {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    
    width: 900px;
    height: 600px;
    display: flex;

    .post-modal-left {
      width: 65%;

    }
    .post-modal-right {
      width: 35%;
      background-color: white;


      .modal-account {
        display: flex;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #9E9E9E;

        img {
          border-radius: 100%;
        }
        
        p {
          font-weight: bold;
          margin: 0;
          padding: 5px 0 0 10px;
        }
      }
      .modal-comment-container {
        padding: 10px;
        height: 460px;
        overflow: scroll;
        .modal-comment-box {
          display: flex;
          margin-bottom: 5px;
          overflow: scroll;
          .modal-comment-left {
            img {
              border-radius: 100%;
            }
          }

          .modal-comment-right {
            margin-left: 10px;

            .comment-account {
              margin: 0;
              font-weight: bold;
              font-size: 15px;
            }

            .modal-comment {
              margin: 0;
              font-size: 15px;
            }
          }
        }
        
      }
      
      .comment-text-area {
        position: absolute;
        bottom: 0;
        width: 315px;

        .comment-form {
          width: 100%;
          box-sizing: border-box;
          border: none;
          border-top: 1px solid #9E9E9E;
          padding: 0 75px 0 10px;
        }

        .btn-comment-profile {
          position: absolute;
          top: 10px;
          right: 10px;

          &:hover {
            cursor: pointer;
          }
        }

      }
    }
  }
}