@import 'slick-theme';
@import 'slick';


@import 'flash';
@import 'form';

@import 'header';

@import 'profile/show';
@import 'profile/edit';

@import 'post/new';
@import 'post/index';



body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 60%;
}

.hidden {
  display: none;
}